<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Merchants Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <header>
    <h1>Merchant Dashboard</h1>
  </header>
  <body>
    <nav>
      <div class="navlinks">
        <div class="dropdown">
          <button name="Merchants">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Marketplace</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchants Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Items">Items</button>
            <div class="dropdown-content">
              <a href="/items">Inventory</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Items Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Categories">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Browse By Category</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Categories Dashboard</a>
            </div>
      </div>
      </div>
      <div class="search_bar">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search.." name="q">
          <button type="submit">Submit</button>
        </form>
      </div>
    </nav>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', { packages: ['corechart', 'bar'] });
      google.charts.setOnLoadCallback(drawBasic);
      function drawBasic() {
          var data = google.visualization.arrayToDataTable([
        ['Merchants', 'Items Count'],
        <% @merchants.merchant_with_most_items[0..10].each do |merchant| %>
          ['<%=merchant.name%>', <%=merchant.total_items%>],
        <% end %>
      ]);
      var options = {
        width: 800,
        height: 400,
        title: 'Top Ten Merchants by Item Count',
        chartArea: { width: '50%', height: '50%' },
        hAxis: {
          title: 'Total Items',
          minValue: 0
        },
        vAxis: {
          title: 'Merchants'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      }
    </script>
    <section class="show">
      <p>Merchant with the most items: <%= @merchants.merchant_with_most_items.first.name %></p>
      <p>Merchant with the highest priced item: <%= @merchants.merchant_with_highest_priced_item.name %></p>
    </section>
    <div id="chart_div"></div>
    <section class="marketplace">
      <% @merchants.each do |merchant| %>
        <div class="merchant_stats">
          <p><%= merchant.name %></p>
          <p>Total items: <%= merchant.total_items %> </p>
          <p>Total price of items: <%= merchant.total_items_price %></p>
        </div>
      <% end %>
    </section>
  </body>
</html>
