<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Merchants Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <header>
    <h1>Merchant Dashboard</h1>
  </header>
  <body>
    <nav>
      <div class="navlinks">
        <div class="dropdown">
          <button name="Merchants">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Marketplace</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchants Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Items">Items</button>
            <div class="dropdown-content">
              <a href="/items">Inventory</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Items Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Categories">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Browse By Category</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Categories Dashboard</a>
            </div>
      </div>
      </div>
      <div class="search_bar">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search.." name="q">
          <button type="submit">Submit</button>
        </form>
      </div>
    </nav>
    <section class="show">
      <% merchant = @items.group(:merchant_id).order('count(*)DESC').pluck(:merchant_id).first %>
      <p>Merchant with the most items: <%= @merchants.find_by(id: merchant).name %></p>
      <p>Merchant with the highest priced item: <%= @items.find_by(price: (@items.maximum(:price))).merchant.name %></p>
    </section>
    <section class="marketplace">
      <% @merchants.each do |merchant| %>
        <div class="merchant_stats">
          <% merc_total_price = merchant.items.map(&:price).sum %>
          <p><%= merchant.name %></p>
          <p>Total items: <%= merchant.items.count %> </p>
          <p>Total price of items: <%= merc_total_price %></p>
        </div>
      <% end %>
    </section>
  </body>
</html>
