<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Merchants Index</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Town Bizzare</h1>
    </header>
    <nav>
      <a href="/items">Item Inventory</a>
      <a href="/categories">Categories</a>

      <div class="search-container">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search.." name="q">
          <button type="submit">Submit</button>
        </form>
      </div>

    </nav>
    <section class="marketplace">
      <% @merchants.order("name").each do |merchant| %>
        <div>
         <a href="/merchants/<%= merchant.id %>" class="merchant-link"><p><%= merchant.name %></p></a>
          <img class="merchant_avatar" src="https://img00.deviantart.net/9d3d/i/2012/232/1/c/old_man_ver_2_by_dragonpjb-d5bti2i.png">
          <div class="modify">
            <a class='buttons' href="/merchants/<%= merchant.id  %>/edit">Edit</a>
            <form action="/merchants/<%= merchant.id %>" method="POST" id="merchant<%= merchant.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <input class='buttons' type="submit" value="delete"/>
            </form>
          </div>
        </div>
      <% end %>
    </section>
  </body>
</html>
