<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Items Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Items Dashboard</h1>
    </header>
    <nav>
      <div class="navlinks">
        <div class="dropdown">
          <button name="Merchants">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Marketplace</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchants Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Items">Items</button>
            <div class="dropdown-content">
              <a href="/items">Inventory</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Items Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Categories">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Browse By Category</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Categories Dashboard</a>
            </div>
      </div>
      </div>
      <div class="search_bar">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search.." name="q">
          <button type="submit">Submit</button>
        </form>
      </div>
    </nav>
    <section class="show">
      <p>Average Price of Items: <%= @items.average(:price).round(2) %> </p>
      <div id="chart_div"></div>
      <p>Total Items: <%= @items.count %> </p>
      <p>Newest Item: <%= @items.last.title %> </p>
      <p>Oldest Item: <%= @items.first.title %> </p>

    </section>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', { packages: ['corechart', 'bar'] });
      google.charts.setOnLoadCallback(drawBasic);
      function drawBasic() {
        var data = google.visualization.arrayToDataTable([
          ['Item', 'Dollars',],
          ['Item', <%= @items.average(:price).round(2) %>]
        ]);

        var options = {
          title: 'Average Price of Items',
          chartArea: { width: '65%', height: '45%' },
          hAxis: {
            title: 'Total Dollars',
            minValue: 0
          },
          vAxis: {
            title: ''
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

  </body>
</html>
