<% @items.each do |item| %>
  <p><a href="/items/<%= item.id %>"><%= item.title %></a></p>
  <p><%= item.description %></p>
  <p><%= item.price %></p>
  <img src=<%= item.image %>>
 <a class='buttons' href="/items/<%= item.id  %>/edit">Edit</a>
  <form action="/items/<%= item.id %>" method="POST" id="item<%= item.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input class='buttons' type="submit" value="delete"/>
  </form>
<% end %>
