<% @items.each do |item| %>
  <p><%= item.title %></p>
  <p><%= item.description %></p>
  <p><%= item.price %></p>
  <img src=<%= item.image %>>
  <a class='buttons' href="/items/<%= item.id  %>/edit">Edit</a>
<% end %>
