<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Item Index</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h1>Item Inventory</h1></br>
    </header>
    <nav>
      <div class="navlinks">
        <div class="dropdown">
          <button name="Merchants">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Marketplace</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchants Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Items">Items</button>
            <div class="dropdown-content">
              <a href="/items">Inventory</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Items Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Categories">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Browse By Category</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Categories Dashboard</a>
            </div>
      </div>
      </div>
       <div class="search_bar">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search.." name="q">
          <button type="submit">Submit</button>
        </form>
      </div>
    </nav>
    <h4>Peruse All Available Wares</h4>
    <section class="marketinventory">
      <% @items.order("title").each do |item| %>
      <div class="item">
        <a href="/items/<%= item.id %>" class="itemname"><%= item.title %></a>
        <img class="itemimage" src=<%= item.image %>>
        <p class="description"><%= item.description %></p>
        <p class="price">$<%='%.2f' % (item.price/100.0) %></p>
        <div class="modify">
          <a class='buttons' href="/items/<%= item.id  %>/edit">Edit</a>
          <form action="/items/<%= item.id %>" method="POST" id="item<%=item.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <input class='buttons' type="submit" value="delete"/>
          </form>
        </div>
      </div>
      <% end %>
    </section>

    <div class="pagination">
      <div class="digg-pagination">
        <div class="page-info">
          <%= page_entries_info @items %>
        </div>
        <div class="pagination-numbers">
        <%= will_paginate @items, :container => false %>
        </div>
      </div>
    </div>
  </body>
</html>
