<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Items</h1>
    </header>
    <nav>
      <div class="navlinks">
        <div class="dropdown">
          <button name="Merchants">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Marketplace</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchants Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Items">Items</button>
            <div class="dropdown-content">
              <a href="/items">Inventory</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Items Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Categories">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Browse By Category</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Categories Dashboard</a>
            </div>
      </div>
      </div>
      <div class="search_bar">
         <input type="search" name="search" placeholder="search..">
      </div>
    </nav>
    <% if @query == nil %>
      <h3>Please enter search criteria</h3>
    <% else %>
      <% if @categories.any? %>
        <h3>Categories</h3>
        <% @categories.each do |category| %>
          <a href="merchants/<%= category.id %>"><%= category.name %></a>,
        <% end %><br>
      <% end %>

      <% if @merchants.any?  %>
        <h3>Merchants</h3>
        <% @merchants.each do |merchant| %>
          <a href="merchants/<%= merchant.id %>"><%= merchant.name %></a>,
        <% end %><br>
      <% end %>

      <% if @items.any? %>
        <h3>Items</h3>
        <% @items.each do |item| %>
          <a href="items/<%= item.id %>"><%= item.title %></a>,
        <% end %>
      <% end %>
    <% end %>
    <footer class="back">
      <a href="/items">Back to Item Inventory</a>
    </footer>
  </section>
</body>
</html>
